<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
	If you reach any problems or have suggestions/feedback, please leave a note in the comments on the article 'Feedback Forum' on my page (Kyle Helmstetter). You can also create a post on your page about your problems/feedback if you choose to. Overall impressions, including pros and cons would be most appreciated. Thanks!
</p>