<footer class="footer">
	<nav>
		<ul>
			<li><%= link_to "Help", help_path %></li>
			<li><%= link_to "Contact", contact_path %></li>
			<li><%= link_to "Full Site", :mobile => 0 %></li>
		</ul>
	</nav>
	<small>
		Copyright &copy; 2013 <br/>Kyle Helmstetter
	</small>
</footer>